body{
	position: relative;
	height: 100%;
}
html{
	height: 100%;
}
.main{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    margin: auto;
    height: 10em;
}
.key{
	width: 80%;
    margin-left: 17%;
}
.tab{
	margin-left: 25%;
	margin-top: 10%;
	width: 47%;
}


/*表格二*/
.head{
	height: 50px;
	/*background-color: red;*/
	position: relative;
	line-height: 50px;
}

.tab-Two{
	position: absolute;
	right: 0;
}
table{
	width: 100%;
}
.bounce{
	font-size: 1.5em;	
}
td{
	height: 50px;
}

/*表格三*/
.tab-Top{
	width: 100%;
	height: 50px;
	line-height: 30px;
	line-height: 50px;
	border-bottom: 1px solid black;
}
.tab-Chart{
	width: 100%;
	height: 80%;
}